#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculator__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  text-align: center;
}

.calculator__container p {
  padding: .5rem 0 0 0;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.calculator__buttons button {
  padding: .8rem;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: large;
  text-align: center;
}

.disabled {
  display: none;
}

.enabled {
  display: block;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
