#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculator__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  text-align: center;
}

.calculator__container p {
  padding: .5rem 0 0 0;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.calculator__buttons button {
  padding: .8rem;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: large;
  text-align: center;
}

.disabled {
  display: none;
}

.enabled {
  display: block;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pagination {
  
}

.weather-card {
  background-color: whitesmoke;
  /* border: 1px solid #222; */
  border-radius: 10px;
  font-size: 1.5rem;
  box-shadow: darkgray;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
}

.weather-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 2rem 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

.btn_xtables {
    padding: .5rem 1rem;
}

.btn_xtables:hover {
    cursor: pointer;
}

/**** Modal ****/

body.active-modal {
    overflow-y: hidden;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7px);

    /* positioning & centering */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 1;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in;
    /* transform: translate(-50%, -50%); */
}

.modal {
    /* outline: auto; */
    background-color: aliceblue;

    width: 80%;
    max-width: 700px;
    /* height: fit-content; */

    background-color: rgb(246, 246, 228);
    /* position: relative; */
    /* z-index: 2000; */
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal-content {
    height: 100%;
    width: 100%;
}

.formElement {
    width: 100%;
    padding: .5rem 0;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
}

.formElement > label {
    text-align: center;
    margin-bottom: 4px;
}


.formElement > input {
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    border: 1px solid gray;
}

.modal-btn {
    padding: .5rem 1rem;
    align-self: center;
    border-radius: 999999px;
    border: transparent;
    background-color: blueviolet;
    cursor: pointer;
    color: white;
    font-size: 1rem
}

.modal-input-error {
    color: rgb(244, 42, 42);
    font-size: 1.6rem;
    margin-top: 6px;
    align-self: start;
    margin-left: 2rem;
}