#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculator__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  text-align: center;
}

.calculator__container p {
  padding: .5rem 0 0 0;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.calculator__buttons button {
  padding: .8rem;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: large;
  text-align: center;
}

.disabled {
  display: none;
}

.enabled {
  display: block;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pagination {
  
}

.weather-card {
  background-color: whitesmoke;
  /* border: 1px solid #222; */
  border-radius: 10px;
  font-size: 1.5rem;
  box-shadow: darkgray;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
}

.weather-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 2rem 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

.btn_xtables {
    padding: .5rem 1rem;
}

.btn_xtables:hover {
    cursor: pointer;
}